---
// Component Imports
import Main from '../layouts/main.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Main>
	<div class="bg-white-white p-3 w-[300px] rounded-xl flex flex-col gap-5 items-center shadow-md">
		<picture>
			<img class=" rounded-xl" src="/image-qr-code.png" alt="qr-code" height="400px" width="400px">
		</picture>
		<div class=" text-center px-4">
			<h4 class=" font-bold text-xl"> Improve your front-end skills by building projects </h4>
			<p class=" text-sm py-3 text-grayish-blue font-medium"> Scan the QR code to visit Frontend Mentor and take your coding skills to the next level </p>
		</div>
	</div>
</Main>
