---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="../../public/favicon-32x32.png">
  
  <title>Frontend Mentor | QR code component</title>
	</head>
	<body>
		<main class=" h-screen bg-light-gray flex justify-center items-center">
		 <slot />
		</main>
	</body>
</html>

<style is:global>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
</style>
